*{
    margin: 0; 
    padding: 0;
}
body{
    margin:0;
    padding: 0;
}
/* Nav Bar */
.nav-links{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: #122c47;
    padding: 20px;
    border-bottom: 1px solid rgba(247, 247, 247, 0.37);
}

.nav-links li a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', serif;
}
/* Section 1 Content */
.section-1-content{
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    background-color: #122c47;
    background:linear-gradient(to right, rgba(18,44,71,0.82) 45%, rgba(18,44,71,0.1) 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    color: white;
    
    
    }
.section-1-content h1{
    padding-bottom: 15px;
    font-size: 40px;
    letter-spacing: 2px;
    margin-left: 20px;
    font-weight: 900;
}
.section-1-content h2{
    padding-bottom: 5px;
    font-size: 35px;
    margin-left: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 45px;
    
}
.section-1-content p{
    margin-left:20px;
    font-weight: 100;
}
.section-1-content button{
    min-width: 100px;
    max-width: 150px;
    margin: 20px;
    color: white;
    background-color: rgb(170, 120, 28);
    padding: 15px;
    border-color: rgb(170, 120, 28);
}
.section-1-content button:hover{
    opacity: 0.9; 
}

.section-1-content a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.section-1-content ul{
    display:inline-block
}

.section-1-content span{
    color: #c49a6c;
    font-style: italic;

}
/* Mini hero boxes */
#section-2-content{
    display: flex;
 
}
.mini-boxes{
    flex-grow: 1;                    
    border: 1px solid rgba(247, 247, 247, 0.37);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;        
    text-align: center;
    background-color: #122c47;
    color: white;    
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 20px;
}

.mini-boxes h5{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
    color: #c49a6c;
}

.mini-boxes p{
    font-size: 25px;
    font-weight: 300;
}