*{
    margin: 0; 
    padding: 0;
    
}
body{
    margin:0;
    padding: 0;
    background-color: #faf6ef;
}

main{
    font-family: 'Playfair Display', serif;
}
/* ------------------------------------------------------*/
/* Nav Bar */
.nav-links{
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: #122c47;
    padding: 20px;
    border-bottom: 1px solid rgba(247, 247, 247, 0.37);
}

.nav-links li a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    
}
/* ------------------------------------------------------*/
/* Hero Content */
.hero{
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    background-color: #122c47;
    background:linear-gradient(to right, rgba(18,44,71,0.82) 45%, rgba(18,44,71,0.1) 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    
    
    }
.hero header h1{
    padding-bottom: 15px;
    font-size: 40px;
    letter-spacing: 2px;
    margin-left: 20px;
    font-weight: 900;
}
.hero header h2{
    padding-bottom: 5px;
    font-size: 35px;
    margin-left: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 45px;
    
}
.hero p{
    margin-left:20px;
    
}
.hero button{
    min-width: 100px;
    max-width: 150px;
    margin: 20px;
    color: white;
    background-color: rgb(170, 120, 28);
    padding: 15px;
    border-color: rgb(170, 120, 28);
}
.hero button:hover{
    opacity: 0.9; 
}

.hero a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.hero ul{
    display:inline-block
}

.hero span{
    color: #c49a6c;
    font-style: italic;

}
/* ------------------------------------------------------*/
/* Mini hero boxes */
#mini-hero{
    display: flex;
 
}
.mini-boxes{
    flex-grow: 1;                    
    border: 1px solid rgba(247, 247, 247, 0.37);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;        
    text-align: center;
    background-color: #122c47;
    color: white;    
    font-weight: 500;
    font-size: 20px;
}

.mini-boxes h5{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
    color: #c49a6c;
}

.mini-boxes p{
    font-size: 25px;
    font-weight: 300;
}
/* ------------------------------------------------------*/
/* Article Section */
#spaniel-article{
    margin: 65px 0px 0px 50px;
    padding: 20px;
    
    
}
#spaniel-article header h3{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #122c47;
}
#spaniel-article p{
    font-size: 17px;
    line-height: 2;
    color: #7a6a58;
    margin-bottom: 20px;
}
#spaniel-article section {
    display: flex;
    gap: 40px;
    align-items: center;
}

#spaniel-article section header {
    flex: 1;
}

#spaniel-article img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border: #c49a6c 4px solid;
    
}
.offset-text{
    display: none;
}
/* ------------------------------------------------------*/
/* Media Querys*/
@media (max-width: 768px) {
    *{
        overflow-x: hidden;
    }

    /* Article Section */
    #spaniel-article section {
        flex-direction: column;
        
        
    }

    #spaniel-article img {
        width: 50%;
        height: auto;
        order: -1;
        object-fit: cover;
        transform: translate(-160px, 0px)
    }

    #spaniel-article {
        width: 100%;
        margin: 20px 0;
        padding: 15px
    }
    #spaniel-article p{
        padding: 10px;
        margin-right: 20px;
    }
}