html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;


}

body {
    margin: 0;
    padding: 0;
    background-color: #faf6ef;
}

/* ------------------------------------------------------*/
/* Nav Bar */
.nav-links {
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: #122c47;
    padding: 20px;
    border-bottom: 1px solid rgba(247, 247, 247, 0.37);
}

#logo {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    color: white;
    font-size: 18px;
}

#logo span {
    color: #c49a6c;
    font-style: italic;
}

.nav-links li a {
    margin-left: 20px;
    text-decoration: none;
    color: white;

}

.nav-links li a:hover {
    color: #c49a6c;
}

/* ------------------------------------------------------*/
/* Hero Content */
.hero {
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    background-color: #122c47;
    background: linear-gradient(to right, rgba(18, 44, 71, 0.82) 45%, rgba(18, 44, 71, 0.1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;


}

.hero h1 {
    padding-bottom: 15px;
    font-size: 60px;
    letter-spacing: 2px;
    margin-left: 20px;
    font-weight: 500;
}

span.hero {
    font-style: italic;
    color: #c49a6c;
}

.hero h2 {
    padding-bottom: 5px;
    font-size: 60px;
    margin-left: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 45px;

}

.hero p {
    margin-left: 20px;

}

.hero a {
    min-width: 190px;
    max-width: 190px;
    margin: 20px;
    color: white;
    background-color: #8b4513;
    padding: 15px;
}

.hero a:hover {
    opacity: 0.9;
}

.hero a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero ul {
    display: inline-block
}

.hero span {
    color: #c49a6c;
    font-style: italic;
    font-size: 60px;

}

/* ------------------------------------------------------*/
/* Mini hero boxes */
.hidden {
    display: none;
}

#mini-hero {
    display: flex;

}

.mini-boxes {
    flex-grow: 1;
    border: 1px solid rgba(247, 247, 247, 0.37);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #122c47;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.box-title {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
    color: #c49a6c;
}

.box-content {
    font-size: 25px;
    font-weight: 300;
}

/* ------------------------------------------------------*/
/* Article Section */
#spaniel-article {
    margin: 65px 0px 0px 50px;
    padding: 20px;


}

#spaniel-article h3 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #122c47;
}

#spaniel-article p {
    font-size: 17px;
    line-height: 2;
    color: #7a6a58;
    margin-bottom: 20px;
}

#spaniel-article section {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 50px;

}

#spaniel-article section {
    flex: 1;
}

#spaniel-article img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border: #c49a6c 4px solid;
    margin-right: 150px;

}

.offset-text {
    display: none;
}

/* ------------------------------------------------------*/
/* Why Choose Section*/
#why-choose-container {
    background-color: #f2e8d5;
    min-height: 550px;

}

#why-choose-container h4 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #8b4513;
}

.margin {
    padding: 65px 0px 0px 70px;
    margin-bottom: 25px
}

.margin span {
    font-style: italic;
    color: #8b4513;
    font-weight: 100;
}

#why-choose-container h2 {
    color: #122c47;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
}

#choose-box-container {
    display: flex;
    margin: 20px 0px 0px 50px;
    padding: 20px;
    gap: 40px;
    flex-wrap: wrap;

}

.choose-box {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    padding: 30px;
    background-color: #faf6ef;
    box-shadow: 0px 4px #e8d5b7;
    margin-right: 30px;
}

.choose-box-title {
    font-weight: 600;
    color: #122c47;
    padding-bottom: 10px;
    letter-spacing: 1px;
    padding-top: 15px;
}

.choose-box-content {
    color: #7a6a58;
    font-weight: 300;
    line-height: 1.8;
}

.icon {
    padding: 5px 10px 30px 10px;
    border-radius: 50%;
    width: 20px;
    height: 5px;
    display: flex;
    justify-content: center;
    background-color: #f2e8d5;
    font-size: 1.3em;

}

/* ------------------------------------------------------*/
/* Footer */
footer {
    background-color: #122c47;
    border-top: #c49a6c 4px solid;
    display: flex;
    color: #faf6ef;
    letter-spacing: 2px;
    font-size: 14px;
}

.footer {
    margin: 50px 100px 50px 50px;
    flex-basis: 100px;
    flex-grow: 1;
    max-width: 400px;
}

#footer-explore {
    padding-left: 50px
}

#footer-explore h3 {
    font-size: 15px;
    color: #c49a6c;
    padding-bottom: 20px;
}

.explore-links {
    color: #faf6ef;
    text-decoration: none;
    display: block;
    padding: 5px;
    width: 75px;
}

.explore-links:hover {
    color: #c49a6c;
}

#footer-explore li {
    padding-bottom: 5px;
}

#footer-description h3 {
    padding-bottom: 20px;
    font-weight: 200;
    font-size: 17px;
}

#footer-description span {
    font-style: italic;
    color: #c49a6c;
}










/* ------------------------------------------------------*/
/* Media Querys*/
@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    /* Mini Hero */
    .box-content {
        font-size: 20px;
    }

    /* Article Section */
    #spaniel-article section {
        flex-direction: column;
        gap: 50px;
    }

    #spaniel-article {
        width: 100%;
        margin: 20px 0;
        padding: 15px
    }

    #spaniel-article p {
        padding: 10px;
        margin-right: 20px;
    }

    #spaniel-article h3 {
        margin-right: 20px;
    }

    #spaniel-article img {
        width: 50%;
        height: auto;
        order: 1;
        object-fit: cover;
        margin: auto;
    }

    /* Why Choose Section */
    .margin {
        padding: 15px;
        margin: 20px
    }

    #choose-box-container {
        padding: 15px;
        margin: 20px 0px 0px 50px;
    }

}

@media (max-width:720px) {

    /* Hero */
    .hero h1,
    .hero span {
        font-size: 50px;
    }

    .hero h2 {
        font-size: 45px;
    }

    /* Footer */
    footer {
        flex-direction: column;
    }

    .footer {
        max-width: 100%;
        margin: 50px;
    }

    #footer-explore {
        padding: 0;
        margin-bottom: 0;
    }

}

@media (max-width:600px) {

    /* Nav */
    .nav-links li a {
        font-size: 14px;
    }

    /* Hero */
    .hero h1,
    .hero h2,
    .hero span {
        font-size: 35px;
    }

    .hero p {
        font-size: 15px;
    }

}